@import url(../../../vendor/normalize.css);

body {
    background-color:  #000000;
}

.main {
    min-height: 80vh;
}

.page {
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-weight: 400;
    max-width: 1280px;
    color:white;
}